AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_QUEUE_REGION=
INCOMING_QUEUE_NAME=
OUTGOING_QUEUE_URL=
WORKER_ARCHIVER_CONNECTION_STRING=postgresql://localhost:5432/sawmill
REDIS_CONNECTION_STRING=redis://localhost:6379/0
LOGIN_URL_WITH_AUTH=http://testuser:password@webmaker-dev-login.herokuapp.com

# Suggested featured resource spreadsheet
SFR_SPREADSHEET=1swJ87dr03nxhYvn7uJoWpybE3kcLV2bW3OGoJ-H-z3o
SFR_WORKSHEET=0
