AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_QUEUE_REGION=
INCOMING_QUEUE_NAME=
OUTGOING_QUEUE_URL=
WORKER_ARCHIVER_CONNECTION_STRING=postgresql://localhost:5432/sawmill
REDIS_CONNECTION_STRING=redis://localhost:6379/0
