# processor config
AWS_QUEUE_REGION=
DEBUG=false
INCOMING_QUEUE_URL=
OUTGOING_QUEUE_URL=
WORKER_ARCHIVER_CONNECTION_STRING=postgresql://localhost:5432/sawmill
MOFO_STAFF_EMAIL=
SFR_SPREADSHEET=1swJ87dr03nxhYvn7uJoWpybE3kcLV2bW3OGoJ-H-z3o
SFR_WORKSHEET=0

# web config
HOST=0.0.0.0
PORT=5000
TRUST_PROXY=false
# The real coinbase address is 54.243.226.26/32,54.175.255.192/27 for staging/production
COINBASE_IP_RANGE=127.0.0.1/32
COINBASE_PROTOCOL=http
HATCHET_APP_NAME="sawmill-localdev"
HATCHET_QUEUE_REGION=
HATCHET_QUEUE_URL=

# shared config
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
